<!DOCTYPE html>
<html class="no-js no-csstransforms">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="My Website" />
  <meta property="og:type" content="personal" />
  <meta property="og:url" content="http://guyjstitt.com" />
  <meta property="og:image" content="http://guyjstitt.com/img/site.JPG" />
  <meta property="og:description" content="Welcome to my personal website" />

  <title>Noah Steenken</title>

  {{ html.css('bootstrap.min') }}
  {{ html.css('scrolling-nav') }}
  {{ html.css('socialIcons') }}
  {{ html.css('home') }}
  {{ html.css('/sass/css/default.desktop') }}
  
  <link rel="stylesheet" href="css/font-awesome.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,400italic,600,600italic' rel='stylesheet' type='text/css'>
 


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="contentWrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">My Website</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top" ajaxed=""></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" ajaxed"">What I Do</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" ajaxed="">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" ajaxed="">Resume</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            {% include 'Pages/home.tpl' %}
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            {% include 'About/index.tpl' %}
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section portfolio" >
        <div class="container">
            {% include 'About/aboutme.tpl' %}
        </div>
    </section>

    <!-- Picture Section -->
    <section id="picture" class="picture-section" >
        {% include 'Components/scrollBackground.tpl' %}
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            {% include 'Resume/resume.show.twig.tpl' %}
        </div>
    </section>
  </div> 

  {{ html.script('jquery-1.11.1.min') }}
   {{ html.script('libs/modernizr.min.js') }}
  {{ html.script('jquery.easing.min') }}
  {{ html.script('libs/bootstrap.min') }}
  {{ html.script('scrolling-nav') }}
  {{ html.script('share') }}
  {{ html.script('slider') }}
  {{ html.script('waypoints.min') }}
  {{ html.script('skills') }}
</body>
</html>
